---
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import { type Document } from "@contentful/rich-text-types";
import BackButton from "@components/BackButton/BackButton.astro";
import BlogLayout from "@layouts/BlogLayout.astro";

import CoverImage from "./CoverImage.astro";
import { parseContentfulContentOptions } from "@lib/contentful";

interface Props {
  title: string;
  body: Document;
  coverImageUrl?: string;
}

const { title, body, coverImageUrl } = Astro.props;

const bodyHtmlContent = documentToHtmlString(
  body,
  parseContentfulContentOptions
);
---

<BlogLayout title={title}>
  <BackButton />
  {coverImageUrl && <CoverImage url={coverImageUrl} />}
  <div class="relative container mt-2 mb-0 flex flex-col">
    <h2
      class="text-2xl text-white text-backdrop mx-6 mt-2 mb-4 lg:text-4xl xl:text-6xl"
    >
      {title}
    </h2>
    <div
      class="blog-content shadow-lg bg-brandGray-50 bg-opacity-90 dark:bg-brandGray-800 dark:bg-opacity-90 backdrop-blur-sm z-10 mb-0 px-8 pt-6 pb-12"
      set:html={bodyHtmlContent}
    />
  </div>
</BlogLayout>
<script>
  import Prism from "prismjs";
  import "prismjs/components/prism-typescript";

  Prism.manual = true;

  document.addEventListener("astro:page-load", () => {
    Prism.highlightAll();
  });
</script>
