---
import { cn } from "@lib/tailwind";
import { Image } from "astro:assets";

interface Props {
  url: string;
  width?: number;
  height?: number;
}

const { url, width, height } = Astro.props;
---

<div class="relative -mb-[20vh] mx-auto w-full">
  <div
    class={cn(
      "after:h-64 after:absolute after:left-0 after:bottom-0 after:right-0 after:-mt-64 after:block after:content-[''] after:bg-gradient-to-b",
      "after:from-transparent after:to-brandGray-50",
      "after:dark:from-transparent after:dark:to-brandGray-800",
      "after:w-[calc(100%_+_256px)] after:-mx-32"
    )}
  >
    <Image
      src={url}
      alt="Cover image"
      width={width || 1280}
      height={height || 720}
      class="w-full"
    />
  </div>
</div>
