---
import { getRelativeLocaleUrl } from 'astro:i18n';
import type { HTMLAttributes } from 'astro/types';
import { getLanguageFromUrl } from '@lib/getLanguageFromUrl';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];

const userLanguage = getLanguageFromUrl(Astro.url);
---
{href && (
	<a href={getRelativeLocaleUrl(userLanguage, String(href))} class:list={[className, { active: isActive }]} {...props}>
		<slot />
	</a>
)}