---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import { contentfulClient } from "../lib/contentful";
import ThemeSwitch from "./ThemeSwitch.astro";
import { Icon } from "astro-icon/components";

const pages = await contentfulClient.getEntries<any>({
  content_type: "pageContent",
});
---

<header class="w-full fixed shadow-lg bg-brandGray-50 dark:bg-brandGray-800">
  <nav class="container flex items-center h-12">
    <h2 class="mr-2"><a href="/">{SITE_TITLE}</a></h2>
    <div
      class={`absolute top-12 left-0 shadow-lg right-0 grid grid-rows-[1fr] !grid-rows-[0fr] transition-[template-grid-rows] duration-200 overflow-hidden
        lg:static lg:flex lg:flex-row lg:items-center lg:overflow-visible lg:shadow-none lg:ml-auto`}
      id="menu"
    >
      <div
        class={`min-h-0 invisible
          lg:min-h-[none] lg:h-auto lg:visible lg:flex lg:flex-row lg:items-center`}
        id="menu-expander"
      >
        <div
          class={`px-4 py-4 flex flex-col-reverse
            lg:flex-row-reverse lg:gap-4 lg:p-0 lg:items-center`}
        >
          <div class="mt-4 lg:m-0">
            <ThemeSwitch />
          </div>
          <ul class="flex flex-col gap-4 lg:flex-row lg:items-center">
            <li>
              <HeaderLink href="/blog">Blog</HeaderLink>
            </li>
            {
              pages.items.map((page) => (
                <li>
                  <HeaderLink href={`/${page.fields.slug}`}>
                    {page.fields.title}
                  </HeaderLink>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
    <button type="button" class="lg:hidden ml-auto">
      <Icon
        name="menu"
        class="[&_path]:fill-brandGray-900 dark:[&_path]:fill-brandGray-300"
      />
    </button>
  </nav>
</header>
<script>
  (() => {
    const menu = document.getElementById("menu");
    const menuButton = document.querySelector("button");
    const menuExpander = document.getElementById("menu-expander");

    if (menu && menuButton && menuExpander) {
      menuButton.addEventListener("click", () => {
        menu.classList.toggle("!grid-rows-[0fr]");
        menuExpander.classList.toggle("invisible");
      });
    }
  })();
</script>
