---
interface Props {
  total: number;
  current: number;
}

const { total, current } = Astro.props;
---

<nav>
  <ul>
    {
      current > 1 && (
        <li>
          <a href={`/blog/${current - 1}`}>Previous</a>
        </li>
      )
    }
    {
      [...new Array(total)].fill(null).map((_, index) => (
        <li>
          <a href={`/blog/${index + 1}`}>{index + 1}</a>
        </li>
      ))
    }
    {
      current < total && (
        <li>
          <a href={`/blog/${current + 1}`}>Next</a>
        </li>
      )
    }
  </ul>
  <pre>
    {JSON.stringify({ total, current }, null, 2)}
  </pre>
</nav>
