@tailwind utilities;
@tailwind components;
@tailwind base;

body {
  font-family: "Sen", sans-serif;
}

@layer base {
  :root:has(#theme-switch:checked) {
    color-scheme: dark;
  }
  :root:has(#theme-switch:not(:checked)) {
    color-scheme: light;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-brandGray-200 font-semibold;
  }
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-2xl;
  }
  h5 {
    @apply text-xl;
  }
  h6 {
    @apply text-lg;
  }

  html,
  body {
    @apply flex flex-col grow min-h-full;
  }

  body,
  [class*="dark:"] {
    @apply transition-all delay-100 duration-150;
  }

  .container {
    @apply w-full max-w-[1000px] mx-auto px-8;
  }

  .container-small {
    @apply w-full max-w-[750px] mx-auto px-4;
  }

  button,
  a {
    @apply focus:ring-4 focus:ring-primary focus-within:ring-4 focus-within:ring-primary focus:outline-none;
  }

  .text-backdrop {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), 2px 2px 8px rgba(0, 0, 0, 0.8);
  }

  .blog-content h1,
  .blog-content h2,
  .blog-content h3,
  .blog-content h4,
  .blog-content h5,
  .blog-content h6 {
    @apply text-brandGray-300 mb-[0.45em] mt-[0.95em];
  }
  .blog-content hr {
    @apply border-b border-brandGray-300 dark:border-brandGray-400 opacity-25;
  }
  .blog-content p {
    @apply mb-4;
  }
  .blog-content p > code {
    @apply font-mono rounded-md px-1.5 py-[0.15em] text-sm inline-block;
    @apply bg-brandGray-200 text-brandGray-900;
    @apply dark:bg-brandGray-700/50 dark:text-brandGray-200/75;
  }
  .blog-content p:has(+ h1, + h2, + h3, + h4, + h5, + h6) {
    @apply mb-0;
  }
}
