---
import { ViewTransitions } from "astro:transitions";
import type { CollectionEntry } from "astro:content";

import BaseHead from "@components/layout/blog/BaseHead.astro";
import Header from "@components/layout/blog/Header.astro";
import Footer from "@components/layout/blog/Footer.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description } = Astro.props;
---

<html lang="pl">
  <head>
    <BaseHead title={`PatrykB.pl | ${title}`} description={description} />
    <ViewTransitions />
  </head>
  <body class="flex flex-col text-brandGray-800 bg-brandGray-50 dark:bg-brandGray-800 dark:text-brandGray-50">
    <Header />
    <main class="container pt-16 flex-grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>